@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  color: white;
}

body{
  background-color: #000;
}

.bg-banner{
  background-image: url('/bg-banner.jpg');
  background-size: cover;
}