.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    background-color: #111; 
    background-image: url('/bg-image.png');
    background-size: contain;
    background-position: center;
}

.square {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0.9em; /* Adjust size as needed */
}

.special-snake {
    background-color: #f87171; /* Light red for snake squares */
    color: white; /* White text for better visibility */
}

.special-ladder {
    background-color: #4ade80; /* Light green for ladder squares */
    color: white; /* White text for better visibility */
}

.snake-ladder {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 0.7em; /* Smaller text for snake or ladder annotations */
    color: #ffffff; /* White text for readability */
}

.confetti{
    animation: op 6s ease;
}
@keyframes op{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
